.builderParametersContent {
  background-color: rgba(200, 200, 200, 0.07);
  margin-bottom: 20px;
  border-radius: 10px;
  padding-bottom: 10px;
  outline: 1px solid rgba(185, 185, 185, 0.15);
  position: relative;
}

.builderParametersSection {
  padding: 10px 0px 0px 0px;
  height: 50%;
  display: flex;
  align-items: center;
}

.builderParametersTitle {
  font-size: 24px;
  font-weight: 500 !important;
  width: 226px;
  padding: 10px 20px 10px;
  color: #e4e4e6;
}

.builderParametersItems {
  display: flex;
  align-items: center;
}

.builderParametersItem {
  display: flex;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.07);
  margin-left: 20px;
  padding: 5px 10px 5px 10px;
  color: #abacb1;
  border-radius: 5px;
  outline: 1px solid rgba(185, 185, 185, 0.15);
}

.builderParametersItem:hover .slider {
  opacity: 1;
  width: 105px;
  pointer-events: auto;
  padding: 0 5px 0 15px;
  transition: all 200ms ease-in-out;
}

.builderParametersItem:hover .itemText {
  color: #d4d4d4;
  transition: all 200ms ease-in-out;
}

.builderParametersItem:hover {
  outline: 4px solid #a5b4fc;
}

.itemText {
  color: #abacb1;
}

.slider {
  width: 0px;
  pointer-events: none;
  padding: 0;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.positionSliderContainer {
  width: 500px;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.07);
  margin-left: 20px;
  padding: 5px 10px 5px 10px;
  color: #abacb1;
  border-radius: 5px;
  outline: 1px solid rgba(185, 185, 185, 0.15);
}

.positionRequirements {
  display: flex;
  align-items: center;
}

.positionRequirement {
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.07);
  margin-left: 20px;
  padding: 13px;
  color: #abacb1;
  border-radius: 5px;
  outline: 1px solid rgba(185, 185, 185, 0.15);
}

.positionSlider {
  width: 500px;
}

.builderParametersTopright {
  position: absolute;
  padding: 10px 12px 10px 12px;
  top: 10px;
  left: calc(100% - 60px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in-out;
}

.builderParametersTopright:hover {
  background-color: rgba(200, 200, 200, 0.1);
  transition: all 200ms ease-in-out;
}

.lockParametersButton {
  cursor: pointer;
  color: #a4a6a9;
  transform: scale(1.5);
  transition: all 200ms ease-in-out;
}
.builderParametersTopright:hover .lockParametersButton {
  color: #e7e8e9;
  transition: all 200ms ease-in-out;
}
