.topbarContainer {
  height: 65px;
  width: 100%;
  background-color: #2a2b30;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.leftbarListItem {
  align-items: center;
  margin-left: 0px;
  margin-bottom: 10px;
  width: 55px;
  display: flex;
  align-items: center;
  height: 55px;
  font-weight: 450 !important;
  font-size: 20px;
  border-radius: 5px;
  color: #a4a6a9;
  transition: all 100ms ease-in-out;
}

.leftbarListItem:hover {
  color: #e7e8e9;
  background-color: #3f424e;
  transition: all 100ms ease-in-out;
  cursor: pointer !important;
}

.topbarLeft {
  height: 100%;
  flex: 3;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: #e4e4e6;
  width: auto;
  cursor: pointer;
}

.searchbar {
  height: 30px;
  background-color: white;
  margin-left: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
  cursor: pointer;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.topbarRight:hover {
  transition: all 100ms;
  background-color: #3a3c43;
}

.topbarRight:hover .topbarImg {
  transition: all 100ms;
  color: #e4e4e6;
}

.loginText {
  color: #a4a6a9;
}

.topbarRight:hover .loginText {
  transition: all 100ms;
  color: #e4e4e6;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarImg {
  transform: scale(1.5);
  background-color: #3a3c43;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  display: flex;
  font-weight: 450 !important;
  font-size: 20px;
  border-radius: 5px;
  color: #a4a6a9;
  transition: all 100ms ease-in-out;
}
