.playerCardBack {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgb(0, 0, 0, 0.3);
  background-color: rgb(241, 241, 241);
}

.playerCardBackWrapper {
  padding: 10px 10px 0;
}
.playerCardBackHeader {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: auto;
  width: 200px;
  margin-bottom: 5px;
}

.playerCardBackName {
  display: flex;
  font-size: 24px;
  font-weight: 500 !important;
}

.playerCardBackHeaderRight {
  display: flex;
  cursor: pointer;
  height: 25px;
  border-radius: 20%;
}

.playerCardBackBody {
  height: 350px;
  position: relative;
}

.playerCardBackTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.playerCardBackTopLeft {
  height: 100%;
}

.playerInfo {
  display: flex;
  font-size: 14px;
}

.playerCardBackImg {
  margin-top: 20px;
  padding: auto;
  width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
}

.playerCardBackFooter {
  background-color: rgb(30, 30, 30);
  height: 15px;
  border-bottom-left-radius: 5px;
}
